/* define color variables */
:root {
    --calc-background-color: #1c1c1c;
    --grey-btn-color: #d4d4d2;
    --dark-grey-btn-color: #505050;
    --orange-btn-color: #ff9500;
}

/* positioning of the whole calculator */
body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* size and color of the calculator */
#main-container {
    background-color: var(--calc-background-color);
    /* height: 50vh; */
    /* width: 30vh; */
    width: 18rem;
    height: 30rem;
    border-radius: 1rem;
    position: relative;
}

/* calculator screen sizing */
#screen {
    /* border: 2px solid red; */
    box-sizing: border-box;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
}

.digit-input-field {
    color: white;
    font-weight: 450;
    font-size: 3.5rem;
}


.input-field-smaller {
    color: white;
    font-weight: 450;
    font-size: 3rem;
}

.input-field-smallest {
    color: white;
    font-weight: 450;
    font-size: 2.7rem;
}

.minus-input-field {
    color: white;
    font-size: 3.5rem;
}

.minus-input-field-smaller {
    color: white;
    font-size: 3rem;
}

.minus-input-field-smallest {
    color: white;
    font-size: 2.7rem;
}

/* container for all the buttons */
#buttons-container {
    /* border: 2px solid yellow; */
    box-sizing: border-box;
    width: 100%;
    height: 80%;
    padding: 0.7rem;
    /* Grid */
    display: grid;
    grid-gap: 0.9rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

/* button styling */
button {
    border-radius: 50%;
    border-style: none;
    font-weight: 450;
    font-size: 1.5rem;
}

#btn-0 {
    grid-column: 1 / 3;
    border-radius: 2rem;
    text-align: left;
    padding-left: 1.5rem;
}

.grey-btn {
    background-color: var(--grey-btn-color);
    color: var(--dark-grey-btn-color);
}

.orange-btn {
    background-color: var(--orange-btn-color);
    color: white;
}

.orange-btn-operator-on {
    color: var(--orange-btn-color);
    background-color: white;
}

.dark-grey-btn {
    background-color: var(--dark-grey-btn-color);
    color: white;
}

/* button hover styling */
.grey-btn:hover {
    opacity: 0.7;
}

.orange-btn:hover {
    opacity: 0.7;
}

.dark-grey-btn:hover {
    opacity: 0.7;
}