body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

#main-container {
    background-color: black;
    height: 50vh;
    width: 30vh;
    border-radius: 1rem;
}

#screen {
    border: 2px solid red; /* temporary */
    box-sizing: border-box; /* temporary */
    width: 100%;
    height: 20%;
}

/* grid of 4 columns and 5 rows */
#buttons-container {
    border: 2px solid yellow; /* temporary */
    box-sizing: border-box; /* temporary */
    width: 100%;
    height: 80%;
    padding: 0.5rem;

    /* Grid */
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

button {
    border-radius: 50%;
}

#btn-0 {
    grid-column: 1 / 3;
    border-radius: 2rem;
}